/* Estilos Gerais */
body {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-family: 'Poppins';
}

section{
    max-width: 1400px;
    margin: 80px auto;
    height: auto;
}

section main {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

section main h1 {
    padding: 20px;
    font-size: 37px;
    color: #242424;
}

section main img{
    width: auto;
    height: 600px;
}

section main p {
    padding: 0 20px;
    font-size: 22px;
    color: #242424;
}

section main button {
    background-color:  #1a9bd1;
    color: white;
    padding: 20px 60px;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 20px; 
}

section main button:hover {
    background-color: #1b6aa3;
    transform: scale(1.05);
}

section main button:active {
    background-color:  #1a9bd1;
    transform: scale(0.95);
}

label{
    font-size: 28px;
    margin-top: 10px;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 10px;
}

input:focus {
    border-color: #1a9bd1;
    box-shadow: 0 0 10px #1a9bd1;
}

input::placeholder {
    color: #888;
    font-style: italic;
}

input:hover {
    border-color: #1a9bd1;
}
/* Home Banner */
.container {
    max-width: 100%; 
    margin: 20px auto;
    height: auto;
    display: flex; 
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 100%; 
    height: auto;
    margin: 10px;
    text-align: center;
}

.box img {
    width: 100%;
    max-width: 450px; 
    height: auto;
    border-radius: 50%;
}

.box h1 {
    padding: 20px;
    font-size: 3rem; 
    color: #242424;
}

.box p {
    padding: 0 20px;
    font-size: 1.25rem; 
    color: #242424;
    line-height: 1.6;
}

.icons {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    text-align: center; 
    flex-wrap: wrap; 
    gap: 15px;
    margin-top: 20px;
}

.icons p {
    font-size: 1.5rem;
    width: 100%; 
    text-align: center;
}

.icons img {
    border-radius: 0%;
    width: 70px; 
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.1); 
}

.repo-box {
    background-color: #242424;
    border: 1px solid #30363d;
    border-radius: 8px;
    width: 100%; 
    max-width: 400px; 
    padding: 15px;
    color: white;
    margin-bottom: 30px;
}

.repo-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.repo-header a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #c265dc;
}

.repo-header a:hover {
    text-decoration: underline;
}

.repo-description {
    font-size: 0.875rem; 
    color: #8b949e;
    margin: 5px 0 10px;
}

.repo-footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.repo-footer span {
    font-size: 0.875rem;
    color: #8b949e;
}

hr {
    width: 100%; 
    border: none;
    border-top: 1px solid #242424; 
    margin: 10px 0; 
}

/* Header */
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.bi-house {
    color: #242424; 
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin: 10px;
    padding: 10px 80px;
    display: inline-block;
    border-radius: 5px;
    transition: font-size 0.3s;
    position: relative;
    color: #242424;
}

header a:hover {
    font-size: 24px;
}

header a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 60%;
    height: 2px;
    background-color: #242424;
    opacity: 0;
    transform: translateX(-50%);
}

header a:hover::after {
    opacity: 1;
    animation: blink 2s infinite;
}

/* Efeito de piscar na tag <a> */
@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/* Aula01 */
ol{
    text-align: left;
    font-size: 16px;
}

.carrossel button{
    background-color: #eb7302;
    opacity: 60%;
}

.carrossel button:hover {
    background-color: #eb7302;
    transform: scale(1.05);
    opacity: 80%;
}
/* Aula03 */
.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
    max-width: 50%;
}

.calc button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid  #ccc;
    color: #242424;
    width: 50px; 
    height: 50px; 
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.calc button svg {
    width: 24px; 
    height: 24px;
}

.calc button:hover {
    background-color: #ccc;
    transform: scale(1.05);
}

.radio-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

.radio-container label::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #1a9bd1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    transition: 0.3s;
}

.radio-container input[type="radio"]:checked + label::before {
    background-color: #1a9bd1;
    border-color: #1a9bd1;
    box-shadow: inset 0 0 0 4px white;
}

.radio-container label:hover::before {
    border-color: #0056b3;
}

.cmd {
    color: #ffdd55;
    padding: 15px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 15px rgba(255, 221, 85, 0.3);
    background-color: #333;
    margin: 0 auto;
}
.header-cmd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 8px 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.dots {
    display: flex;
}
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.dot.red { background-color: #ff5f57; }
.dot.yellow { background-color: #ffbd2e; }
.dot.green { background-color: #28c840; }
.title {
    color: white;
    font-size: 14px;
}
.content {
    padding: 10px;
}
.line {
    margin: 5px 0;
}

/* Responsividade */
@media only screen and (max-width: 500px) {
    header {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    header a {
        font-size: 18px;
        padding: 8px 20px;
        margin: 5px 0;
    }

    .bi-house {
        width: 30px;
        height: 30px;
    }
    section main img{
        width: 100%;
        height: 250px;
    }
    .cmd {
        width: 100%;
    }
    .container {
        flex-direction: column;
        justify-content: center;
    }

    .box {
        max-width: 90%;
    }

    .box h1 {
        font-size: 2.5rem;
    }

    .box p {
        font-size: 1rem;
    }

    .icons {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .icons img {
        width: 50px;
    }

    .repo-box {
        width: 90%;
    }
}

@media only screen and (max-width: 170px) {
    section main h1 {
        font-size: 30px;
    }
    .box img {
        width: 80%; 
    }

    .box h1 {
        font-size: 1.8rem;
    }

    .box p {
        font-size: 0.9rem;
    }

    .icons p {
        font-size: 1rem;
    }

    .icons img {
        width: 40px; 
    }
}